<nav class="navbar navbar-default" role="navigation">

<div class="container-fluid">

<div class="navbar-header">

<button type="button"
    class="navbar-toggle"
    data-toggle="collapse"
    data-target="#navbar-collapse"
>Menu</button>

<a class="navbar-brand" href="/">rtapebbletest</a>
</div><!-- navbar-header -->

<div class="collapse navbar-collapse"
    id="navbar-collapse">

<ul class="nav navbar-nav navbar-right">

<li class="active">
<a href="#screen-1">screen 1</a>
</li>

<li class="active">
<a href="#screen-2">screen 2</a>
</li>

</ul>

</div><!-- collapse -->

</div><!-- container-fluid -->

</nav>

{# vim: set syntax=htmldjango: #}
