<form action="/change-password" method="POST"
      class="form-skinny">

{% if errors is defined and errors.get('general') %}
<p>
{{ errors.general }}
{% endif %}

<h4>Change password</h4>

<p>
<label>Current password

{% if values is defined and values.old_password %}
<input type="password" name="old_password"
    value="{{ values.old_password }}" autocomplete="off"/>
{% else %}
<input type="password" name="old_password" autocomplete="off"/>
{% endif %}

{% if errors is defined and errors.get('old_password') %}
<span class="form_error">{{ errors.old_password }}</span>
{% endif %}
</label>

<p>
<label>New password

{% if values is defined and values.get('password1') %}
<input type="password" name="password1"
    value="{{ values.password1 }}" autocomplete="off"/>
{% else %}
<input type="password" name="password1" autocomplete="off"/>
{% endif %}


{% if errors is defined and errors.get('password1') %}
<span class="form_error">{{ errors.password1 }}</span>
{% endif %}
</label>

<p>
<label>Confirm new password

{% if values is defined and values.get('password2') %}
<input type="password" name="password2"
    value="{{ values.password2 }}" autocomplete="off"/>
{% else %}
<input type="password" name="password2" autocomplete="off"/>
{% endif %}

{% if errors is defined and errors.get('password2') %}
<span class="form_error">{{ errors.password2 }}</span>
{% endif %}
</label>

<p>
<button class="btn btn-large btn-primary"
    data-loading-text="Changing...">Change password</button>

</form>
