{% extends 'framework_templates/base.html' %}

{% block title %}Set your password{% endblock %}

{% block main %}

{% if errors is defined and errors.get('general') %}
<h2>{{ errors.general }}</h2>
{% endif %}

<form action="/set-password" method="POST" class="form-skinny">

<h2 class="form-signin-heading">Please set a password</h2>
<label for="pw1">Password</label>

{% if values is defined and values.get('pw1') %}
<input type="password"
    name="pw1"
    id="pw1"
    required
    value="{{ values.pw1 }}"
    class="input-block-level" autocomplete="off"/>

{% else %}
<input type="password" name="pw1" id="pw1" required
    class="input-block-level" autocomplete="off"/>
{% endif %}

{% if errors is defined and errors.get('pw1') %}
<span>{{ errors.pw1 }}</p>
{% endif %}

<label for="pw1">Confirm Password</label>

{% if values is defined and values.get('pw2') %}
<input type="password"
    name="pw2"
    id="pw2"
    required
    value="{{ values.pw2 }}"
    class="input-block-level" autocomplete="off"/>

{% else %}
<input type="password" name="pw2" id="pw2" required
    class="input-block-level" autocomplete="off"/>
{% endif %}

{% if errors is defined and errors.get('pw2') %}
<span>{{ errors.pw2 }}</p>
{% endif %}

<p>
<button class="btn btn-large btn-primary" type="submit">Set password</button>
</p>

</form>
{% endblock main %}

{% block scripts %}
<script>
$(document).ready(function () {
});
</script>
{% endblock scripts %}
