{% extends 'framework_templates/base.html' %}

{% block title %}Reset password{% endblock %}

{% block main %}

<h1 xmlns="http://www.w3.org/1999/html">Reset password</h1>

{% if errors and errors.general %}
<h2>{{ errors.general }}</h2>
{% endif %}

<form action="/reset-password" method="POST" class="form-skinny">

<p>
<label for="email_address">Email Address</label>
<p>

{% if values and values.email_address %}
<input type="email" disabled value="{{ values.email_address }}" />
<input type="hidden"
    name="email_address"
    id="email_address"
    value="{{ values.email_address }}"
    placeholder="joe@example.com" />

{% else %}
<input type="email" disabled />

<input type="hidden"
    name="email_address" id="email_address"
    placeholder="joe@example.com" />
{% endif %}

{% if errors and errors.email_address is defined %}
<span>{{ errors.email_address }}</p>
{% endif %}

{% if values and values.email_address %}
<input type="hidden"
    name="nonce"
    id="nonce"
    value="{{ values.nonce }}" />

{% else %}
<input type="hidden" name="nonce" id="nonce" />
{% endif %}

{% if errors and errors.nonce is defined %}
<span>{{ errors.nonce }}</p>
{% endif %}

<p>
<label for="password1">New password</label>

<p>
{% if values and values.get('password1') %}
<input type="password" name="password1" id="password1" required
    value="{{ values.password1 }}" autocomplete="off"
/>
{% else %}
<input type="password" name="password1" id="password1" required autocomplete="off"/>
{% endif %}

{% if errors and errors.password1 is defined %}
<span>{{ errors.password1 }}</p>
{% endif %}

<p>
<label for="password2">Confirm password</label>

<p>
{% if values and values.get('password2')  %}
<input type="password" name="password2" id="password2" required
    value="{{ values.get('password2') }} autocomplete="off"
/>
{% else %}
<input type="password" name="password2" id="password2" required autocomplete="off" />
{% endif %}

{% if errors and errors.password2 is defined%}
<span>{{ errors.password2 }}</p>
{% endif %}

</span>
</br>
<p>

<label for="challenge_question">Password Reset Security Challenge question</label>

<select class="form-control" name="challenge_question" required>
    <option value="What was your childhood nickname?">What was your childhood nickname?</option>
    <option value="What is the name of your favorite childhood friend?">What is the name of your favorite childhood friend?</option>
    <option value="What street did you live on in third grade?">What street did you live on in third grade?</option>
</select>

</p>
<p>
<label for="challenge_question">Password Reset Security Challenge Answer</label>

<input type="text" name="challenge_question_answer" id="challenge_question_answer" required
        class="input-block-level" />
</p>
<p>
<input class="btn btn-primary" type="submit" value="Reset my password!" />

</form>

{% endblock main %}

{% block scripts %}
<script>
$(document).ready(function () {
    $("input:submit").button();
});
</script>
{% endblock scripts %}
