{% extends 'framework_templates/base.html' %}

{% block title %}Forgot your password?{% endblock %}

{% block main %}

<h1>Forgot your password?</h1>

{% if errors is defined and errors.general %}
<h2>{{ errors.general }}</h2>
{% endif %}

<p>
Enter your e-mail address and we'll send you a link to securely reset it.
</p>

<form action="/send-password-reset-email" method="POST">

<p>
<label for="email_address">Email Address</label>

<p>
{% if values is defined and values.email_address %}
<input type="email"
    name="email_address"
    id="email_address"
    required
    value="{{ values.email_address }}"
    placeholder="joe@example.com" />

{% else %}
<input type="email" name="email_address" id="email_address" required
    placeholder="joe@example.com" />
{% endif %}

{% if errors is defined and errors.email_address %}
<span>{{ errors.email_address }}</p>
{% endif %}

<p>
<input type="submit" value="Send me an email!" />

</form>

{% endblock main %}

{% block scripts %}
<script>
$(document).ready(function () {
    $("input:submit").button();
});
</script>
{% endblock scripts %}
