<form action="/update-contact-info" method="POST">

<h2>Update contact info</h2>

{% for field, field_label in [

    ('phone_number_one', 'First phone number'),
    ('phone_number_two', 'Second phone number'),
    ('twitter_page', 'Twitter page'),
    ('facebook_page', 'Facebook page'),
    ('pinterest_page', 'Pinterest page'),
    ('email_address', 'Email address'),
    ('street_address_line_one', 'Street address line one'),
    ('street_address_line_two', 'Street address line two'),
    ('city', 'City'),
    ('state', 'State'),
    ('zipcode', 'Zip code'),
    ]
%}

<p>
<label>
<span>{{ field_label }}</span>

<input type="text" name="{{ field }}"
    value="{{ req.user[field] or "" }}" />

</label>

{% endfor %}

<p>
<input type="submit" value="Update contact info" />

</form>
